<p class="title">materials</p>

<table>
  <tr *ngFor="let item of storage.materials; let i = index">
    <td>{{ i + 1 }}.</td>
    <td class="functions">
      <button class="copy" mat-icon-button (click)="copyMaterialItem(item)">
        <mat-icon>add</mat-icon>
      </button>
      <button class="delete" mat-icon-button (click)="deleteMaterialItem(item)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
    <td>
      <div class="flex-row">
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>name</mat-label>
          <input
            class="desc"
            matInput
            appSelect
            [(ngModel)]="item.description"
            (input)="emitUpdate()"
          />
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>thickness</mat-label>
          <input
            class="thickness"
            matInput
            appSelect
            type="number"
            [(ngModel)]="item.thickness"
            (input)="emitUpdate()"
          />
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>cut width</mat-label>
          <input
            class="width"
            matInput
            appSelect
            type="number"
            [(ngModel)]="item.cuttingWidth"
            (input)="emitUpdate()"
          />
        </mat-form-field>
      </div>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <button class="add" mat-icon-button (click)="addMaterialItem()">
        <mat-icon>add</mat-icon>
      </button>
    </td>
  </tr>
</table>
