<div class="tool-row" mat-body>
  <button mat-icon-button id="new-project" aria-label="new project" (click)="onNewProject()">
    <mat-icon>add</mat-icon>
  </button>
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>name project</mat-label>
    <input matInput [ngModel]="projectName" (ngModelChange)="onNameChange($event)" />
  </mat-form-field>
  <a
    mat-icon-button
    id="download"
    aria-label="download project"
    [href]="storage.sanitizedBlobUrl"
    [download]="projectName + '.bcut'"
  >
    <mat-icon>download</mat-icon>
  </a>
</div>

<div
  *ngFor="let project of projects"
  mat-body
  id="project-row"
  class="project-row"
  [class.current]="project === projectName"
>
  <span id="label" (click)="onProjectSelect(project)">{{ project }}</span>
  <button mat-icon-button id="delete" aria-label="delete project" (click)="onDelete(project)">
    <mat-icon>delete</mat-icon>
  </button>
</div>
<span class="divider"></span>
<div class="file-input">
  <input #fileUpload type="file" (change)="onFileSelect($event.target['files'][0])" />
  <button mat-button (click)="fileUpload.click()">load project from file</button>
</div>
