<mat-toolbar>
  <button
    mat-icon-button
    id="projects"
    aria-label="projects"
    (click)="drawer.toggle()"
  >
    <mat-icon>bookmarks</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    #drawer
    mode="side"
    [fixedInViewport]="false"
    fixedTopGap="0"
    fixedBottomGap="0"
  >
    <app-projects></app-projects>
  </mat-sidenav>

  <mat-card>
    <app-materials></app-materials>
  </mat-card>

  <mat-card>
    <app-stock></app-stock>
  </mat-card>

  <mat-card>
    <app-parts></app-parts>
  </mat-card>

  <app-results></app-results>

  <p>
    Visit <a href="https://github.com/grimmohe/board-cut">github</a> for license
    and maybe support. File bugs
    <a href="https://github.com/grimmohe/board-cut/issues">here</a>.
  </p>
</mat-sidenav-container>
