<p class="title">stock</p>

<table>
  <tr *ngFor="let item of stock; let i = index">
    <td>
      {{ i+1 }}.
    </td>
    <td class="functions">
      <button mat-icon-button (click)="copyStockItem(item)">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteStockItem(item)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
    <td>
      <mat-form-field>
        <input matInput placeholder="name" [(ngModel)]="item.description">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <select matNativeControl placeholder="material" [(ngModel)]="item.material">
          <option *ngFor="let m of materials" (value)="m">{{ m.description }}</option>
        </select>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <input matInput type="number" placeholder="height" [(ngModel)]="item.height">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <input matInput type="number" placeholder="width" [(ngModel)]="item.width">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <input matInput type="number" placeholder="count" [(ngModel)]="item.count">
      </mat-form-field>
    </td>
  </tr>
</table>
<div>
    <button mat-icon-button (click)="addStockItem()">
      <mat-icon>add</mat-icon>
    </button>
</div>
