<p class="title">parts</p>

<table>
  <tr *ngFor="let item of parts; let i = index">
    <td>
      {{ i+1 }}.
    </td>
    <td class="functions">
      <button mat-icon-button (click)="copyPartItem(item)">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button (click)="deletePartItem(item)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
    <td>
      <mat-form-field>
        <input matInput placeholder="name" [(ngModel)]="item.description">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <input matInput type="number" placeholder="height" [(ngModel)]="item.height">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <input matInput type="number" placeholder="width" [(ngModel)]="item.width">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <input matInput type="number" placeholder="count" [(ngModel)]="item.count">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <select matNativeControl placeholder="from stock" [(ngModel)]="item.stock">
          <option *ngFor="let s of stock" (value)="s">{{ s.description }} ({{ s.height }}:{{ s.width }}:{{ s.thickness }})</option>
        </select>
      </mat-form-field>
    </td>
    <td>
      <mat-checkbox [(ngModel)]="item.followGrain">follow grain</mat-checkbox>
    </td>
  </tr>
</table>
<div>
    <button mat-icon-button (click)="addPartItem()">
      <mat-icon>add</mat-icon>
    </button>
</div>
<div class="cut-action">
    <button mat-raised-button color="primary" (click)="cutParts()">cut it</button>
</div>
